*{padding:0; margin:0;}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a{
  color:rgb(0,51,102);
  font-weight:600;
  word-wrap: break-word;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

p {
  font-size:1em;
  line-height:1.5em;
}

figure {
  margin:20px 0;
  text-align: center;
}

figcaption {
  padding-left:10px;
  padding-right:80px;
  font-size:0.9em;
}

.gdp-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gdp-flex figure {
  flex: 1;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@keyframes rotation { 
  from {transform:rotate(0deg);} 
  to {transform:rotate(360deg);} 
}


@media screen and (min-width:768px){
  .gdp-fig-two,
  .gdp-text,
  .gdp-fig{
    width:760px;
    margin:10px auto 10px auto;
    font-size:1em;
  }
}

@media screen and (min-width:1200px){
  .gdp-fig-two,
  .gdp-text,
  .gdp-fig{
    width:960px;
  }
}

.footerThumbnail {
  width: 150px;
}