<div class="{{id}}">
  </p>{{{text-before}}}</p>
</div>

<div class="{{id}} gdp-flex" caption="{{{figure-caption}}}">
  <figure>
    {{{figure1}}}
    <figcaption>{{caption-one}}</figcaption>
  </figure>
  <figure>
    {{{figure2}}}
    <figcaption>{{caption-two}}</figcaption>
  </figure>
</div>
