<div class="{{id}}" caption="{{{title}}}">
  <p>{{{text-before}}}</p>
</div>

<div class="{{id}}" caption="{{{figure-caption}}}">
  <figure>
    <div class="figureContentContainer">
      {{{#figure}}}
        {{{.}}}
      {{{/figure}}}
      <figcaption>{{caption}}</figcaption>
    </div>
  </figure>
</div>

<div class="{{id}}" caption="{{{title}}}">
  <p>{{{text-after}}}</p>
</div>
