<div id="{{id}}" caption="{{{title}}}">
  {{{text-before}}}
</div>

<div id="{{id}}" caption="{{{figure-caption}}}">
  <figure>
    {{{#figure}}}
      {{{.}}}
    {{{/figure}}}
  </figure>
</div>

<div id="{{id}}" caption="{{{title}}}">
  {{{text-after}}}
</div>
