<div id="{{id}}" caption="{{{title}}}">
  {{{text-before}}}
</div>

<div id="{{id}}" caption="{{{figure-caption}}}">
  <figure>
    {{{figure1}}}
  </figure>
  <figure>
    {{{figure2}}}
  </figure>
</div>

<div id="{{id}}" caption="{{{title}}}">
  {{{text-after}}}
</div>
