<div class="{{id}}" caption="{{{title}}}">
  <p>{{{text-before}}}</p>
</div>

<div class="{{id}} gdp-flex" caption="{{{figure-caption}}}">
  <figure>
    {{{#figure}}}
      {{{.}}}
    {{{/figure}}}
    <figcaption>{{caption}}</figcaption>
  </figure>
</div>

<div class="{{id}}" caption="{{{title}}}">
  <p>{{{text-after}}}</p>
</div>
